#about {
  max-width: 75%;
  margin-top: 10%;
  padding: 2rem;
  background-color: #e5e5e5;
  border-radius: 1rem;
}
#addpost-card {
  max-width: 75%;
  margin-top: 10%;
  background-color: #e5e5e5;
  border-radius: 1rem;
}

#blog-posts-container {
  margin-top: 10%;
  max-width: 75%;
}
#posts-blog {
  background-color: #e5e5e5;
  border-radius: 1rem;
  max-height: fit-content;
  min-height: 10rem;
  margin-bottom: 3rem;
}
#contact-container {
  max-width: 75%;
  margin-top: 10%;
  background-color: #e5e5e5;
  border-radius: 1rem;
}
#login-container {
  max-width: 20%;
  height: 15rem;
  margin-top: 10%;
  background-color: #e5e5e5;
  border-radius: 1rem;
  padding: 3rem;
  }
  #login-card {
    max-width: 80%;
    background-color: antiquewhite;
    
  }
#post {
  max-width: 50rem;
  margin-top: 15%;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #e5e5e5;
  border-radius: 1rem;
}
#post-con {
  margin-left: 2rem;
  margin-right: 0px;
  justify-content: center;
}
